.boxStyle {
  background-color: rgb(230, 230, 230);
  padding: 5px;
  border-radius: 20px;
  width: 70%;
  margin: 50px auto 0px auto;
  p {
    width: 50%;
    margin: 0px auto;
    font-weight: normal;
  }
}
